---
import BaseLayout from "../../layouts/BaseLayout.astro";
import AccountSettings from "../../../../../packages/react-components/menus/AccountSettings";

export const prerender = false;
const username = Astro.params.username || '';
---
<BaseLayout title={username}>
    <div class="flex">
        <div class="mx-auto my-16">
            <AccountSettings client:load />
        </div>
    </div>
</BaseLayout>