---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProfileSettings from "../../components/ProfileSettings.tsx"

export const prerender = false;
const username = Astro.params.username || '';
---
<BaseLayout title={username}>
    <div class="flex">
        <div class="mx-auto my-16">
            <ProfileSettings client:load />
        </div>
    </div>
</BaseLayout>