---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Home">
	<section id="hero" class="flex items-center justify-center w-max min-h-screen bg-green-800">
		
  	</section>
</BaseLayout>
