---
import BaseLayout from "../layouts/BaseLayout.astro"
import SignUpFormIsland from "../components/SignUpFormIsland"
---
<BaseLayout title="Sign Up">
    <div class="h-full flex bg-green-900">
        <div class="m-auto">
            <SignUpFormIsland client:load />
        </div>
    </div>
</BaseLayout>